<h1 style="@ColorStyle; @BorderStyle">CascadeChildComponent</h1>

<CascadeGrandChildComponent></CascadeGrandChildComponent>

@code {
    [CascadingParameter(Name = "ColorStyle")]
    public string ColorStyle { get; set; }

    [CascadingParameter(Name = "BorderStyle")]
    public string BorderStyle { get; set; }
}
