<h1 style="@ColorStyle;  @BorderStyle">CascadeGrandChildComponent @Counter</h1>

@code {
    [CascadingParameter(Name = "ColorStyle")]
    public string ColorStyle { get; set; }

    [CascadingParameter(Name = "BorderStyle")]
    public string BorderStyle { get; set; }

    [CascadingParameter(Name = "Counter")]
    public int Counter { get; set; }
}
